<img id="scene" src="/images/Scene.png" alt="scene">  
  <header>      
    <div id="container">
      <div class="menu">
        <img id="logo" src="/images/logo.png" alt="logo">
        <div class="links">
          <a class="link" href="#about">ABOUT</a>
          <a class="link" href="#howTo">HOW TO</a>
          <a class="link" href="#faqs">FAQS</a>
          <a class="btn-orange"  href="#contact">CONTACT US</a>
        </div>
      </div>
      <div class="text">
        <h1>Your awesome<br>
          traffic permit<br>
           consultant.
       </h1>
       <a href="#" class="btn-orange" id="btn-orange">GET STARTED --></a>
      </div>
    </div>
    <img id="mobel" src="/images/mobel.png" alt="mobel">
  </header>