<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <title>TRAFICO.</title>
</head>
<body>
  <%- include('components/header') %>
  <main>
    <div class="about">
      <div class="text-about">
        <h3>ABOUT US</h2>
        <p>The occupational traffic permit is one of the most<br>
        important things in the company when carrying out<br> freight transport.  In fact, it is a prerequisite for doing<br>
        business traffic at all. 
        </p>
        <div class="div-h4">
          <div id="orange-div"></div>
          <h4 id="text-h4">How do you do when you need to obtain<br> 
            a commercial traffic permit for freight<br>
            transport to your business?</h4>
        </div>
      </div>      
      <img src="/images/Illustration.png" alt="">
    </div>
    <div class="about alterna">
      <div class="text-about">
        <h3>HOW TO APPLY</h2>
        <p>When applying for a traffic permit, there are certain
          <br>
          requirements that you must meet that are included in
          <br>
          the examination: requirements for professional
          <br>
          knowledge, solid establishment, good reputation and
          <br>
          financial resources. Important to remember is to confirm 
          <br>
          your application for a traffic permit by the company's 
          <br>
          company signer or CEO. 
        </p>
      </div>      
      <img src="/images/Illustrations.png" alt="">
    </div>

    <div id="radius"></div>

    <div class="faq">
      <div class="text-about">
        <h1 id="faq">FAQ</h1>
        <h1>
          Questions and Answers
          <br>
          on Professional Traffic 
          <br>
          Permits:
        </h3>
      </div>      
      <img src="/images/Group 14.png" alt="faq">
    </div>
    <div class="container-questions">
      <div class="div-questions">
        <p class="questions">What is a professional traffic permit? <i class='fas fa-minus'></i></p>
        <p id="question-op">Traffic permits are a requirement for conducting professional traffic.</p>
        <p class="questions">How to check the traffic condition? <i class='fas fa-plus'></i></p>
        <p class="questions">What are the requirements for a professional <br>traffic permit?<i class='fas fa-plus'></i></p>
        <p class="questions">Are there professional traffic permit training <br> courses at a distance? <i class='fas fa-plus'></i></p>
      </div>
      <div class="div-questions">
        <p class="questions">When is a professional traffic permit needed? <i class='fas fa-plus'></i></p>
        <p class="questions">Where to look for a traffic permit? <i class='fas fa-plus'></i></p>
        <p class="questions">Are there differences between a traffic permit <br> and a professional traffic permit? <i class='fas fa-plus'></i></p>
        <p class="questions">How much does a commercial traffic permit cost for goods? <i class='fas fa-plus'></i></p>
        <p class="questions">How to plug in for the traffic permit test? <i class='fas fa-plus'></i></p>
        <p class="questions">How is the sample for a professional traffic <br>permit booked? <i class='fas fa-plus'></i></p>
        <p class="questions orange-q">LOAD MORE<i class='fas fa-plus'></i></p>
      </div>
    </div>

    <section class="about-us">
      <div class="arrows">
        <h1>ABOUT US</h3>
        <div>
          <i class='fas fa-long-arrow-alt-left'></i>
          <i class='fas fa-long-arrow-alt-right'></i>
        </div>
      </div>
      <div class="about-clients">
        <h1>Out Awesome  Clientes</h1>
        <div class="coment-client">
          <p>
            Yes, you will need to have the land owner <br> sign the permit application as the Permittee, <br> and you sign the permit as the Applicant or <br> Agent for the Permittee.
          </p>
          <div class="avatar">
            <img src="/images/Ellipse 9.png" alt="avatar">
            <b>Isak Pettersson</b>
          </div>
        </div>
        <div class="coment-client">
          <p>
            From most barricade or traffic control<br> companies located in the phone book. They <br>employ certified Traffic Control Supervisors<br> (TCS) who can generate and certify the<br> traffic control plan. 
          </p>
          <div class="avatar">
            <img src="/images/Ellipse 9 (1).png" alt="avatar">
            <b>Simon Sandberg</b>
          </div>
        </div>
        <div class="coment-client escondido">
          <p>
            An A-Line, or access restriction deed is a <br>property right that has been obtained by <br>CDOT for the sole purpose of prohibiting <br>direct
          </p><br>
          <br><br>
          <div class="avatar">
            <img src="/images/Ellipse 9 (2).png" alt="avatar">
            <b>Isak Pettersson</b>
          </div>
        </div>
      </div>
    </section>

    <img id="bg" src="/images/BG.png" alt="bg">
    
    <footer >      
      <div class="formulario">
        <img id="group-35" src="/images/Group 35.png" alt="group-35">
        <form 
        action="/formulario" 
        method="post">
          <div class="div-input">
            <label>Name</label>
            <input type="text" name="name" placeholder="Hendrik Larsson">
          </div>

          <div class="div-input">
            <label>Email address</label>
            <input type="text" name="email" placeholder="Your email address">
          </div>

          <div class="div-input">
            <label>Message</label>
            <textarea name="message" id="message" cols="30" rows="10" placeholder="What items do you want to transport?"></textarea>
          </div>

          <button id="btn" type="submit">GET STARTED <i class='fas fa-long-arrow-alt-right'></i></button>
        </form>
      </div>
      <div class="last-items">
        <div>
          <img src="/images/logo.png" alt="logo">
        </div>
        <div class="last-links">
          <a href="#">ABOUT</a>
          <a href="#">HOW TO</a>
          <a href="#">FAQS</a>
        </div>
      </div>
    </section>
    
  </main>
</body>
</html>