<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>TRAFICO.</title>
</head>
<body>
  <%- include('components/header') %>
  <main>
    <div class="about">
      <div class="text-about">
        <h3>ABOUT US</h2>
        <p>The occupational traffic permit is one of the most<br>
        important things in the company when carrying out<br> freight transport.  In fact, it is a prerequisite for doing<br>
        business traffic at all. 
        </p>
        <div class="div-h4">
          <h4>How do you do when you need to obtain<br> 
            a commercial traffic permit for freight<br>
            transport to your business?</h4>
        </div>
      </div>      
      <img src="/images/Illustration.png" alt="">
    </div>
  </main>
</body>
</html>